
{% extends "base.html" %}
    {{ perms.album }}
{% block nav%}
    {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'photo-add' album.id %}">Добавить фото</a><br>
        </li>
    {% endif %}
    {% if perms.webapp.change_album%}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'album-update' album.id %}">Изменить альбом</a>
        </li>
        {% endif %}
    {% if perms.webapp.delete_album %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'album-delete' album.id %}">Удалить альбом</a>
        </li>
        {% endif %}
{% endblock %}
{%  block content %}


    <h1>Альбом № {{ album.id }}</h1>
    <p>Название: {{ album.title }}</p>
    <p>Описание: {{ album.description }}</p>
    <p>Время создания: {{ album.data }}</p>
    <p>Автор: {{ album.author }}</p>
    {% for photo in album.album_photos.all %}
         <p>Photo: <a href="{% url 'photo-view' photo.pk %}">{{ photo.author  }}</a>
{#    <p id="counter{{ photo.pk }}">{{ photo.PhotoUser.count }}</p>#}
{#    {% if photo.pk in favorite_photos and user.is_authenticated %}#}
{#        <p><a data-counter="counter{{ photo.pk }}" onclick="removePhoto(event)" href="{% url "photos:remove_photo" photo.id %}"><i class="fas fa-heart"></i></a></p>#}
{#    {% else %}#}
{#        <p><a data-counter="counter{{ photo.pk }}" onclick="addPhoto(event)" href="{% url "photos:add_photo"  photo.id %}"><i class="far fa-heart"></i></a></p>#}
{#    {% endif %}#}
    <p id="counter{{ photo.pk }}">{{ photo.PhotoUser.count }}</p>
        {#        <p><a data-articleCounter="counter{{ album.pk }}" onclick="articleLike(event)" href="{% url "article_like"  album.pk %}"><i class="far fa-thumbs-up"></i></a></p>#}
    {% empty %}
        <h2>Нет фото</h2>
    {% endfor %}

{% endblock content %}

