{% extends 'base.html' %}

{{ perms.photo }}
{% block menu %}
    {% if perms.webapp.add_photo %}
        <li><a href="{% url "photo-add" %}">Создать фото</a></li>
    {% endif %}
{% endblock menu %}

{% block content %}
    <h1>Фото</h1>
    {% if not photo %}
        <h2>Нет фото</h2>
    {% else %}
        {% include 'partial/search_form.html' %}
    {% endif %}
    {% for photo in photos %}
            <p>{{ photo.status }}: <a href="{% url "photo-view" photo.id%}">{{ photo.description }}</a></p>
    {% endfor %}
    {% include 'partial/paginate.html' %}

    {% if photo.pk in favorite_photos and user.is_authenticated %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="removePhoto(event)" href="{% url "photos:remove_photo" photo.id %}"><i class="fas fa-heart"></i></a></p>
    {% else %}
        <p><a data-counter="counter{{ photo.pk }}" onclick="addPhoto(event)" href="{% url "photos:add_photo"  photo.id %}"><i class="far fa-heart"></i></a></p>
    {% endif %}
    <p id="counter{{ photo.pk }}">{{ photo.PhotoUser.count }}</p>
{% endblock content %}